.chat-main
  .header
    .header-info
      .header-info__title
        = @group.name
      %ul.header-info__members
        Member : 
        - @group.group_users.each do |group_user|
          %li.member
            =group_user.user.name

    = link_to edit_group_path(@group.id), class: "header-edit__botton" do
      Edit
  
  .messages
    = render partial: 'message', collection: @messages

  .form
    = form_for [@group, @message] do |f|
      .form__mask
        = f.text_field :body, class: 'form__mask__message', placeholder: 'type a message'
        = f.label :image, class: 'form__mask__image' do
          = icon('fa', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'